  <!-- <h1>Questions#answer</h1>
  <p>Find me in app/views/questions/answer.html.erb</p>
   -->

<div class="response">
  <p><%=@response%></p>
  <p>-You</p>
  <p></p>
</div>

<div class ="coachanswer">
  <p ><%=@coach_answer%></p>
   <p >-Your Coach</p>
</div>

<p><%= link_to "Ask a new question", "/ask" %></p>
